<p>Logged in as <%= current_user.name %></p>

<h2>Organisations</h2>

<% if !is_org_member? %>
  <p>You aren't a member of any organisation yet</p>
  <p>Join an existing organisation or create a new one</p>
<% end %>

<ul>
  <% @organisations.each do |org| %>
    <li>
      <%= org.name %>
      <%# <%= link_to "join", organisation_path(org) %>
      <% org_id = org.id %>
      <%= link_to "join", users_join_organisation_path(@user, org_id: org_id),
                                   method: :post,
                                   remote: true %>
      <%# # users_join_organisation_path, method: :patch { id: org.id } %>
      <%= link_to "edit", edit_organisation_path(org) %>
    </li>
  <% end %>
</ul>

<h2>Create new Organisation</h2>

<%= current_user.id %>

<%= render partial: "form" %> 
