<h2>Organisations</h2>

<ul>
  <% @organisations.each do |org| %>
    <li>
      <%= org.name %>
      <a href="<%= organisation_path(org) %>">join</a>
      <a href="<%= edit_organisation_path(org) %>">edit</a> 
    </li>
  <% end %>
</ul>

<h2>Create new Organisation</h2>

<%= render partial: "form" %> 
<%# <%= render "form", organisation: @organisation %> 
