<h2><%= @organisation.name %></h2>

<%= render partial: "organisations/helper-functions" %>

<button onclick="displayAddShifts()">Add Shift</button>
<button onclick="displayShifts()">View Shifts</button>
<button onclick="displayEditShifts()">Edit <%= @organisation.name %></button>

<div id="hidden-add-field" style='display:none'>
  <%= render partial: "shifts/new" %>
</div>

<div id="hidden-edit-field" style='display:none'>
  <%= render partial: "organisations/edit" %>
</div>

<div id="hidden-shifts-field" style='display:none'>
  <%= render partial: "shifts/shifts" %>
</div>

<div id='leave-organisation' style='display:none'>
  <%= link_to "Leave", users_leave_organisation_path,
                       method: :delete,
                       remote: true,
                       data: { confirm: "Are you sure?" } %>
</div>


