<h2><%= @organisation.name %></h2>

<%# <%= render partial: "shifts/index" %>

<div id='add-shifts'>
  <%= link_to "Add Shift", new_organisation_shift_path(@organisation), remote: true %>
</div>

<div id='view-shifts'>
  <%= link_to "View Shifts", organisation_shifts_path(@organisation), remote: true %>
</div>

<div id='edit-org'>
  <%= link_to "Edit", edit_organisation_path(@organisation), remote: true %> 
</div>

<div id='Leave Organisation'>
  <%= link_to "Leave", users_leave_organisation_path,
                       method: :delete,
                       remote: true,
                       data: { confirm: "Are you sure?" } %>
</div>

    <%# organisation_shifts GET     /organisations/:organisation_id/shifts(.:format)          shifts#index %>
                         <%# POST   /organisations/:organisation_id/shifts(.:format)          shifts#create %>
  <%# new_organisation_shift GET    /organisations/:organisation_id/shifts/new(.:format)      shifts#new %>