<h2><%= @organisation.name %></h2>

<div id="add-shift">
  <%= link_to "Add Shift", new_organisation_shift_path(@organisation), remote: true %>
</div>

<div id='view-shifts'>
  <%= link_to "View Shifts", organisation_shifts_path(@organisation), remote: true %>
</div>

<div id="edit-org" >
  <%= link_to "Edit", edit_organisation_path(@organisation), remote: true %> 
</div>

<div id='leave-organisation'>
  <%= link_to "Leave", users_leave_organisation_path,
                       method: :delete,
                       remote: true,
                       data: { confirm: "Are you sure?" } %>
</div>


