<% @org_shifts.each do |shift| %>
  <tr>
    <td><%= shift.employee %></td> 
    <td><%= shift.shift_start.strftime('%m/%d/%Y')%></td>
    <td><%= shift.shift_start.strftime('%H:%M%P')%></td>
    <td><%= shift.shift_end.strftime('%H:%M%P') %></td>
    <% hours_worked = total_hours_worked(
                               shift.shift_start, 
                               shift.shift_end,
                               shift.break_length)%>
    <td><%= shift.break_length %></td>
    <td><%= hours_worked %></td>
    <td>£ <%= '%.2f' % round_to_quarter(@organisation.hourly_rate * hours_worked) %></td>
    <% if current_user.id == shift.user_id %>
      <td>
        <%= link_to "Edit", edit_organisation_shift_path(@organisation, shift) %>
        <%= link_to "Delete", [@organisation, shift],
          method: :delete,
          data: { confirm: "Are you sure?" } %>
      </td>
    <% end %>
  </tr>
<% end %>

