<section class='login-box'>
  <div id='add-shift' class='center'>
    <h2>Edit <%= @shift.employee %>'s shift</h2>
  
    <%= form_with model: [ @organisation, @shift ] do |form| %>
  
        <a>employee:<%= current_user.name %></a><br><br>
        <a>shift date: <%= form.date_field :shift_start, :class => 'sml-button' %></a>
        <a>start time: <%= form.time_field :shift_start, :class => 'sml-button' %></a>
        <a>finish time: <%= form.time_field :shift_end, :class => 'sml-button' %></a>
        <a>break length:</a><br><%= form.text_field :break_length, :class => 'sml-text', :style => 'width:50px;height:5vh' %>
        <%= form.hidden_field :employee, value: current_user.name %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <br><br>
        <td><%= form.submit 'Update', :class => 'sml-button' %>
  
    <% end %>
  </div>
</section>